footer {
    margin-top: auto;
    width: 100%;
    padding: 50px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;

    img {
        width: 150px;
    }

    p {
        color: $fourthColor;
        font-size: .9rem;
    }
}