@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$fuente: 'Poppins';

$mainColor: #3B3399;
$secondColor: #FFFFFF;
$thirdColor: #000000;
$fourthColor: #929292;
$fivethColor: #E7D501;

$darkModeBackground: #242424;
$darkModeShadow: #0C0C0C;

$firstGradient: #5C56B9;
$secondGradient: #4D44A8;
$thirdGradient: #E0E0E0;
$fourthGradient: #CDCDCD;

$louderColor: #C0C0C0;

$grassColor: #0B4F1C;
$poisonColor: #4A0F6B;
$groundColor: #251D1D;
$rockColor: #443F3F;
$waterColor: #62F8B9;
$normalColor: #50A854;
$electricColor: #E7D501;
$fireColor: #DA4300;
$iceColor: #AAD3C9;
$dragonColor: #660F00;
$bugColor: #35140A;
$flyingColor: #61A7B4;
$darkColor: #13021F;
$fairyColor: #F8ED97;
$psychicColor: #12098C;
$fightingColor: #F45DEB;
$steelColor: #1F1F1F;
$ghostColor: #E9E9E9;
$shadowColor: #3D3C45;