@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$fuente: 'Poppins';

$mainColor: #3B3399;
$secondColor: #FFFFFF;
$thirdColor: #000000;
$fourthColor: #929292;

$filterBackgroundColor: #DBDBDB;

$grassColor: #0B4F1C;
$poisonColor: #4A0F6B;
$groundColor: #251D1D;
$rockColor: #443F3F;
$waterColor: #62F8B9;
$normalColor: #50A854;
$electricColor: #E7D501;
$fireColor: #DA4300;
$iceColor: #AAD3C9;
$dragonColor: #660F00;
$bugColor: #35140A;
$flyingColor: #61A7B4;
$darkColor: #13021F;
$fairyColor: #F8ED97;
$psychicColor: #12098C;
$fightingColor: #F45DEB;
$steelColor: #252525;
$ghostColor: #E9E9E9;
$shadowColor: #3D3C45;